// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

// You can use CSS variables for styling. See declarations for details:
// ../../node_modules/@tweakpane/core/lib/sass/common/_defs.scss

/**
 * Class Index
 * - ovl: overlay
 * - opt: overlay option
 * - sel: inline selection
 * - thmb: overlay thumbnail
 * - sthmb: inline selection thumbnail
 * - lbl: overlay label
 * - slbl: inline selection label
 */
.#{tp.$prefix}-thumbv {
	@extend %tp-input;

	--tptl-thumb-size: var(
		--tp-plugin-thumbnail-list-thumb-size,
		tp.cssVar('container-unit-size')
	);

	position: relative;
	height: tp.cssVar('container-unit-size');
	cursor: pointer;

	&,
	&:hover {
		background: none;
	}

	&.#{tp.$prefix}-v-disabled {
		opacity: 0.5;
	}

	/* Overlay */
	&_ovl {
		z-index: 100;
		box-shadow: 0 2px 4px tp.cssVar('base-shadow');
		display: none;
		position: absolute;
		top: tp.cssVar('container-unit-size');
		right: 0;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: var(--tp-plugin-thumbnail-list-height, 400px);
		width: var(--tp-plugin-thumbnail-list-width, 200px);
		background: tp.cssVar('base-bg');
		padding: tp.cssVar('container-v-padding') tp.cssVar('container-h-padding');
		border-bottom-left-radius: tp.cssVar('base-border-radius');
		border-bottom-right-radius: tp.cssVar('base-border-radius');

		.#{tp.$prefix}-thumbv_-active & {
			display: block;
		}
	}

	/* Option and Select */
	&_opt,
	&_sopt {
		display: flex;
		flex-direction: row;
		color: tp.cssVar('input-fg');
	}

	&_sopt {
		height: tp.cssVar('container-unit-size');
	}

	/* Option */
	&_opt {
		height: var(--tptl-thumb-size);
		margin: 0 calc(-1 * #{tp.cssVar('container-h-padding')});
		padding: tp.cssVar('container-v-padding') tp.cssVar('container-h-padding') 0;
		opacity: 0.75;

		&[aria-selected] {
			opacity: 1;
			background: tp.cssVar('input-bg');
		}

		&:hover {
			opacity: 1;
		}
	}

	/* Image and Select Image */
	&_thmb,
	&_sthmb {
		flex-shrink: 0;
		width: tp.cssVar('container-unit-size');
		height: 100%;
		border-radius: tp.cssVar('blade-border-radius');
		background-size: contain;
		position: relative;
	}

	&_sthmb {
		width: tp.cssVar('container-unit-size');
	}

	&_thmb {
		margin-right: 2em;
		width: var(--tptl-thumb-size);
	}

	[aria-selected] &_thmb::after {
		content: '✓';
		position: absolute;
		right: -1em;
		font-size: 1.5em;
		line-height: var(--tptl-thumb-size);
	}

	&_lbl,
	&_slbl {
		height: tp.cssVar('container-unit-size');
		line-height: tp.cssVar('container-unit-size');
		text-overflow: ellipsis;
	}

	&_slbl {
		margin-left: 4px;
		padding: 0 4px;
		background-color: tp.cssVar('input-bg');
		border-radius: tp.cssVar('blade-border-radius');
		box-sizing: border-box;
		min-width: 0;
		width: 100%;
	}

	&_lbl {
		height: var(--tptl-thumb-size);
		line-height: var(--tptl-thumb-size);
	}
}
