// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

// You can use CSS variables for styling. See declarations for details:
// ../../node_modules/@tweakpane/core/lib/sass/common/_defs.scss

.#{$prefix}-thumbv {
	@extend %input;

	cursor: pointer;
	height: calc(var(--bld-us) * 5);
	overflow: hidden;
	position: relative;

	&.#{$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_row {
		display: flex;
		flex-direction: row;
		color: var(--in-fg);
		font-size: 0.9em;
		line-height: 0.9;
		opacity: 0.75;

		&[data-selected] {
			opacity: 1.0;
			background: var(--in-bg);
		}


		&:hover {
			opacity: 1.0;
		}
	}

	&_img {
		margin-right: 0.5em;
		background-size: contain;
		height: 24px;
		width: 24px;
	}

	&_lbl {
		text-overflow: ellipsis;
		line-height: 24px;
	}
}
